rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /healthRecords/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /datasetMetadata/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
